/* @override http://localhost/player/style.css */

/* @override http://localhost/player/style.css */

/* @override http://localhost/player/style.css */


html, body {
	margin: 0;
	padding: 0;
	background: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFF;
}

h1, h2, h3 {
	
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #FFF;
}

h1 {
	font-size: 15px;
}

h2 {
	font-size: 16px;
}

#spot h2{
	margin-top: 20px;
}

h3 {
	font-size: 10px;
}

p, ul, ol {
	margin-top: 0;
	line-height: 150%;
}

ul, ol {
}

img, img a{
	border: none;
	
}

a {
	text-decoration: none;
	color: #ff0000;
}

a:hover {
	text-decoration: underline;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
	
}

/* Header */
#header-wrapper{
	
}

header {
	overflow: hidden;
	width: 1130px;
	height: 35px;
	margin: 0px auto 10px;
	
}

/* Logo */

#logo {
	float: left;
	width: 200px;
	margin: 0;
	padding: 0;
	color: #FFF;
	font-size: 15px;
}


#logo h1 {
	letter-spacing: -1px;
	text-transform: lowercase;
}

#logo h1 a {
	color: #FFF;
}

#logo h1 span {
	color: #89abfd;
	font-size: 22px;
}

#logo p {
	margin: -5px 0px 0px 0px;
	padding: 0px 0 0 px;
	text-transform: lowercase;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #fff;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #fff;
}


/* Menu */

#menu {
	float: right;
	
}

#menu ul {
	margin: 0px;
	list-style: none;
	text-align: right;
}

#menu li {
	float: left;
	
}

#menu a {
	display: block;
	width: 50px;
	padding-top: 5px;
	height: 30px;
	text-align: center;
	margin-left: 20px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	opacity: 0.95;
}

#menu a:hover, #menu .current_page_item a {
	background: #000;
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
	color: #FFFFFF;
	
}

/* Page */

#page {
	width: 1130px;
	margin: 0 auto;
	height: 768px;
}

#page-bgtop {
}
/* Content */

#content {
	float: left;
	width: 850px;
	background: #000;
}

.post {
	
	padding: 0px 0px;
}

.post .title {
	
	padding: 0px 0px 0px 0px;
}

.post .title a {
	letter-spacing: -2px;
	text-decoration: none;
	text-transform: lowercase;
	color: #414141;
	border: none;
}

.post .entry {
	width: 850px;
	
	
	
}

.post .entry h2 {
	text-align: center;
	font-size: 25px;
	
}


.post .entry video {
	width: 850px;
	height: 790px;
	
}
.post .meta {
	overflow: hidden;
	
}

.post .smalltext{
	
	font-size: 11px;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 220px;
	margin-left: 35px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 220px;
}

#sidebar li {
	text-align: center;
	padding: 0;
	font-size: 20px;
}

#sidebar li ul {
	margin: 0px;
	
}

#sidebar li li {
	line-height: 35px;
	
	border-left: none;
	text-align: left;
}

#sidebar li li span {
	display: block;
	
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar .sidemenu {
	width: 200px;
}

#spot{
	margin-top: 20px;
	font-size: 16px;
	
}

#spot span{
	color: #FF0000;
	font-weight: bold;
	
}

#sidebar h2 {
	height: 30px;
	margin-top: 30px;
	text-align: left;
	text-transform: capitalize;
	letter-spacing: -2px;
	font-size: 2em;
	color: #14141;
}

#sidebar p {
	width: 210px;
	font-size: 13px;
	letter-spacing: -1px;	
}

#sidebar a {
	border: none;
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
	font-weight: bold;
}


/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

footer {
	color: #fff;
	height: 0px;
	margin: 0 auto;
	width: 980px;
}

#newsBar-bar{
	color: #fff;
	margin-top: 30px;
}

#newsBar-bar a{
	color: #fff;
	font-weight:  bold;
}

footer p {
	font-weight: bold;
	margin: 0;
	font-size: 12px;
	text-align: center;

}


#boxtempo {
  width: 200px;
  height: 85px;
  padding:5px 5px 0; 
  margin:20px auto;
  background: #000;
}

#boxtempo .title{
  font-size: 18px;
  
  font-weight: bold;
  
  color: #FFF;
}

#boxtempo ul {
  margin: 8px 10px;
  padding: 0px;
  list-style: none;
  overflow: hidden;
}

#boxtempo ul li {
  list-style:none; 
  display:block; 
  padding-bottom:1px; 
  margin-bottom:5px;
}

#boxtempo .img {
  
  font-size: 16px;
  color: #FFF;
  float: left;
  margin-right:  24px;
  width: 100px;
  }
 
 
 #boxtempo .temp{
	display: inline;
	margin-left: 25px;
	font-weight: bold;
	font-size: 16px;
}

#ticker-wrapper ul{
	padding:  0;
	margin: 0;
}

ul#boxoroscopo p{
	font-size: 16px;
}

#boxoroscopo{
	
}