body {
	font-size:100%; /* make resizing work in IE, in conjunction with 'em' usage */
	margin:0;
	padding:0;
	font-size:0.75em;
	background-color:#000000;
	color:#9898a4;
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
}

/********
 *
 *  Main Header
 *
 ********/

.main_header {
	height:39px;
	border-bottom:1px solid #f7941e;
	background-color:#333434;
	color:#ffffff;
	position:fixed;
	top:0;
	left:0;
	width:100%;
}

.main_header img {
	height:39px;
	border:0;
	float:left;
}

.main_header p {
	font-size:0.9em;
	display:inline;
	float:left;
	margin:5px 0 0 10px;
	padding:0px;
}

/********
 *
 *  Filter Bar
 *
 ********/

.nav_filter {
	width:100%;
	height:24px;
	margin-top:40px;
	border-bottom:1px solid #f7941e;
	text-align:center;
}

.nav_filter ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

.nav_filter li {
	float:left;
	width:33%;
}

.nav_filter a {
	display:block;
	font-size:1em;
	padding-top:5px;
	padding-bottom:5px;
	color:#ffffff;
}

.nav_filter .current {
	color:#f7941e;
	font-style:italic;
}

.nav_filter a:hover {
	color:#c6dbff;
}

.nav_filter a:active {
	color:#f7941e;
}

/********
 *
 *  Playlist
 *
 ********/

#results_playlist {
	width:100%;
	height:180px;
	position:relative;
	top:0px;
	overflow:hidden;
	margin-bottom:31px;
}

#results_list_placeholder {
	height:180px;
	font-size:1.5em;
	padding-left:50px;
	padding-top:50px;
}

.results_list_listing {
	height:47px;
	margin-bottom:1px;
	padding-bottom:1px;
	border-bottom: 1px solid #2e2e2e;
	padding-left:5px;
	padding-right:5px;
	display:block;
}

.now_playing_listing {
	background-color:#c6dbff;
	color:#001d69;
	border:1px solid #001d69;
}

.results_list_listing img {
	height:47px;
	float:left;
}

.results_list_listing h1 {
	font-size: 1em;
	margin:0px;
	margin-left:5px;
	display:inline;
}

.results_list_listing p {
	font-size:1em;
	margin-top:10px;
	margin-left:5px;
	display:inline;
}

.results_list_listing p.highlight {
	font-size:0.8em;
	margin-left:5px;
	display:inline;
}

/********
 *
 *  Ajax Loader
 *
 ********/
div.jquery-ajax-loader {
	background: #333 url(/images/loader/jquery.ajaxLoader.gif) no-repeat 50% 50%;
	opacity: .6;
}

/********
 *
 *  Audio Player (non-default)
 *  note: defaults are held in audio_player.css
 *
 ********/

.media-player {
	border-top:1px solid #f7941e;
	position: fixed; 
	clear: both; 
	width: 100%;
	height:30px;
	bottom: 0;
	background-color:#000000;
}

.media-controls {
	zoom: 1;
	font-size:0.75em;
	width:130px;
	margin: 0;
	padding: 10px 40px 0 130px;
	z-index: 9; /* IE opacity: bug */
}

.nav_audio {
}

.nav_audio img {
	height:30px;
	border:0;
}

.nav_audio a {
	float:left;
	position:relative;
	left:-130px;
	top:-10px;
}

.btn {
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
	width: 30px;
	height: 30px;
	background: url(/images/player/player_controls_sprite_30x30.png) 0 0 no-repeat;
	outline: none;
	float: left;
	text-indent: -9999em;
}

.media-player .play-pause:hover {
	background-position: -30px 0;
}

.media-player .ui-icon-pause {
	background-position: 0 -30px;
}

.media-player .ui-icon-pause:hover {
	background-position: -30px -30px;	
}

.prev {
	background-position: 0 -90px;
	border-right:1px solid #333434;
}

.prev:hover {
	background-position: -30px -90px;
}

.next {
	background-position: 0 -60px;
	border-left:1px solid #333434;
}

.next:hover {
	background-position: -30px -60px;
}

.ui-slider-horizontal .ui-slider-handle {
	background: #f7941e;
}

.ui-progressbar-value {
	background: #333;
}

.current-time {
	position:relative;
	top:-11px;
	left:-120px;
}

.duration {
	position:relative;
	top:-22px;
	left:45px;
}
